<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include ../partials/header %>
    <title>CS313 Postal Rate Calculator</title>
</head>
<body>
    <h1 class="pagetitle container">Prove 09: Postal Rate Calculator</h1>
    <% include ../partials/nav %>
    <div class="container">
        <form id="calculator" name="calculator" method="post" action="/rateCalc">
            <label for="type">Select the parcel type:</label>
            <br />
            <select name="type" id="type">
                <option name="type" id="stamped" value="stamped" <% if(type === "stamped") { %>selected="selected"<% } %>>Letter (Stamped)</option>
                <option name="type" id="metered" value="metered" <% if(type === "metered") { %>selected="selected"<% } %>>Letter (Metered)</option>
                <option name="type" id="largeEnvelope" value="largeEnvelope" <% if(type === "largeEnvelope") { %>selected="selected"<% } %>>Large Envelopes (Flats)</option>
                <option name="type" id="fcPackage" value="fcPackage" <% if(type === "fcPackage") { %>selected="selected"<% } %>>First-Class Package Service - Retail</option>
            </select>
            <br />
            <label for="weight">Parcel Weight</label>
            <br />
            <input type="number" id="weight" name="weight" min="0" step="0.1" placeholder="0" <% if(weight != null) { %>value="<%= weight %>"<% } %>/> 
            <br />
            <input type="submit" id="submit" name="submit" class="btn btn-secondary" value="Calculate Rate" />
        </form>
        <div>
            <% if(rate != null) { %>
                <p>
                    The calculated rate is <%= rate %>.
                </p>
            <% } %>
        </div>
    </div>
</body>
</html>