<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <% include ../partials/header %>
    <title>Math Result</title>
</head>
<body>
    <h1 class="pagetitle container">Teach 09: Result</h1>
    <% include ../partials/nav %>
    <div class="container">
		<p>
			Your result is: <%= result %>
		</p>
	</div>
</body>
</html>